<% include ../views/partials/header %>
<a href="/">Go Back</a>
<h1><i class="fa fa-user"></i> <%= name %></h1>
<%if (city) { %>
<h4><i class="fa fa-map-marker"></i>Birthplace: <%= city %>, <%= state %></h4>
<% } %>

<%if (friends.length > 0) { %>
    <ul class="list-group">
    <%friends.forEach(function(person){ %>
        <li class="list-group-item"><a href="/person/<%= person.id %>"><%= person.name %></a></li>
    <% }); %>
    </ul>
<% } %>

</br>

<h3>Add Friend</h3>
<form method="POST" class = "form-inline" action="/friends/connect">
    <input type = "hidden" name="id" value="<%= id %>" style="border-radius: 5px; font-style: oblique">
    <input type = "hidden" name="name1" value="<%= name %>" style="border-radius: 5px; font-style: oblique">
    <input type = "text" class="form-control form-control-sm" name="name2" placeholder="Name" style="border-radius: 5px; font-style: oblique; margin-right: 5px">
    <input type="submit" value="Submit" class="btn btn-outline-dark btn-sm" style="font-style: oblique">
</form>

</br>

<h3>Add Birthplace</h3>
<form method="POST" class = "form-inline" action="/person/born/add">
    <input type = "hidden" name="id" value="<%= id %>" style="border-radius: 5px; font-style: oblique">
    <input type = "hidden" name="name" value="<%= name %>" style="border-radius: 5px; font-style: oblique">
    <input type = "text" class="form-control form-control-sm" name="city" placeholder="City" style="border-radius: 5px; font-style: oblique; margin-right: 5px">
    <input type = "text" class="form-control form-control-sm" name="state" placeholder="State" style="border-radius: 5px; font-style: oblique; margin-right: 5px">
    <input type = "text" class="form-control form-control-sm" name="year" placeholder="Year" style="border-radius: 5px; font-style: oblique; margin-right: 5px">
    <input type="submit" class="btn btn-outline-dark btn-sm" value="Submit" class="btn btn-default btn-sm" style="font-style: oblique">
</form>

</br>

<h3>Assign Interest</h3>
<form method="POST" class = "form-inline" action="/person/interest/connect">
    <input type = "hidden" name="id" value="<%= id %>" style="border-radius: 5px; font-style: oblique">
    <input type = "hidden" name="name" value="<%= name %>" style="border-radius: 5px; font-style: oblique">
    <input type = "text" class="form-control form-control-sm" name="interest" placeholder="Interest" style="border-radius: 5px; font-style: oblique; margin-right: 5px">
    <input type="submit" value="Submit" class="btn btn-outline-dark btn-sm" style="font-style: oblique">
</form>

<% include ../views/partials/footer %>